.updateModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.updateContainer {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
}

.images {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
}

.imageInput {
  position: relative;
}

.imagePreview {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.icon {
  position: absolute;
  top: -10px;
  right: -10px;
  background: white;
  border-radius: 50%;
  padding: 4px;
  color: blue;
  cursor: pointer;
}

form input {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.updateButton {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.updateButton:hover {
  background-color: #125ea3;
}


@media (max-width: 768px) {
  .update{
    margin-left: 300px;
  }
}
@media (max-width: 48px) {
  .update{
    margin-left: 500px;
    /* width: 100%; */
  }
  .wrapper{
    margin-left: 400px;
  }
}